<html>
  <body>
    {% if error %}
        <h2> {{error}} </h2>
    {% endif %}
    <form action="/resource" method="post">
      Name: <br>
      <input type = "text" name = "resource_name">
      <br>
      Start time (in HH:MM):<br>
      <input type = "text" name = "resource_start_time">
      <br>
      End time (in HH:MM):<br>
      <input type = "text" name = "resource_end_time">
      <br>
      Tags: <br>
      <div><textarea name = "tags" rows = "3" cols = "60"></textarea></div>
      <div><input type="submit" value="Add Resource"></div>
    </form>
  </body>
</html>