<html>
  <body>
      <center><h1>Your Reservations</h1></center>
      <!--GET USER'S RESERVATIONS FROM TABLE -->
      <br>
      <center><h3>Available Resources</h3></center>
      <ul>  
      {{resource}} 
      {% for i in total_resources %}
        <li><a href = "/reservation?resource={{i.resource_id}}">{% print i.resource_name %}</a></li>
      {% endfor %}
      </ul>
      <br>
      <center><h2>Your Resources</h2></center>
      <ul>   
      {% for i in user_resources %}
        <li>{% print i.resource_name %}</li>
      {% endfor %}
      </ul>
      <br>
      <center><a href = "/resource"><h2>Create a resource</h2></a></center>
      <br>
  </body>
</html>