<html>
  <body>
    {% if error %}
        <h2> {{error}} </h2>
    {% endif %}
     {{resource}}
    <form action="/reservation" method="post">
      Start time (in HH:MM): <br>
      <input type = "text" name = "reservation_start_time">
      <br>
      Duration (in HH:MM):<br>
      <input type = "text" name = "duration">
      <input type = "hidden" name = "resource_id" value = "{{resource}}">
      <br>
      <div><input type="submit"></div>
    </form>
  </body>
</html>