<!DOCTYPE html>
{% autoescape true %}
<html>
 <style>
 body {
    background-color: #68CCF0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: navy;
    margin-left: 20px;
}

table {
  background-color: lightgrey;
  border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
td {
    text-align: center;
}
td, th {
  padding: 5px;

}
th{
    background-color: darkgrey;
}
tr:hover {background-color: #f5f5f5}

</style>
  <body>
    <a href="/">Home</a><br><br>  
    {% if error %}
        <h2> {{error}} </h2>
    {% endif %}
    <form action="/resource" method="post">
      Name: <br>
      <input type = "text" name = "resource_name">
      <br><br>
      Start time (in HH:MM):<br>
      <input type = "text" name = "resource_start_time">
      <br><br>
      End time (in HH:MM):<br>
      <input type = "text" name = "resource_end_time">
      <br><br>
      Tags: <br>
      <div><textarea name = "tags" rows = "3" cols = "60"></textarea></div>
      <div><input type="submit" value="Add Resource"></div>
    </form>
  </body>
</html>
{% endautoescape %}