<!DOCTYPE html>
{% autoescape true %}
<html>
 <style>
 body {
    background-color: #68CCF0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: navy;
    margin-left: 20px;
}

table {
  background-color: lightgrey;
  border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
td {
    text-align: center;
}
td, th {
  padding: 5px;

}
th{
    background-color: darkgrey;
}
tr:hover {background-color: #f5f5f5}

</style>
  <body>
    <a href="/">Home</a>
    <h2>Resource Details</h2>
    <table style="width:100%" border="1">
        <tr>
          <th>Name</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Tags</th>
        </tr>  
        <tr>
          <td>{{ resource[0].resource_name}}</td>
          <td>{{ resource[0].start_time.time() }}</td>
          <td>{{ resource[0].end_time.time() }}</td>
          <td>{% for tag in resource[0].tags %}  <a href = "/tag?tag_name={{tag}}">{{ tag }}</a> {% endfor %}</td>
        </tr>     
      </table> 
      <br>
    <h2>Current and Upcoming Reservation</h2>
    <table style="width:100%" border="1">
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>
        {% for reservation in reservations_of_resource: %}
        {%if reservation.end_time > current_time %}  
        <tr>
          <td>{{ reservation.start_time }}</td>
          <td>{{ reservation.end_time }}</td>
        </tr>
        {% endif %}
        {% endfor %}     
      </table>    
      <br>
    <form action="/make_reservation" method="post">
      <div><input type="submit" value = "Make a Reservation"></div>
      <input type = "hidden" name = "resource_id" value = "{{resource[0].resource_id}}">
      <br>
    </form>
    {% if resource[0].username == nickname %}
    <form action="/edit_resource" method="post">
      <div><input type="submit" value = "Edit Resource"></div>
      <input type = "hidden" name = "resource_id" value = "{{resource[0].resource_id}}">
    </form>
    {% endif %}
  </body>
</html>
{% endautoescape %}