<!DOCTYPE html>
{% autoescape true %}
<html>
 <style>
 body {
    background-color: #68CCF0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: navy;
    margin-left: 20px;
}

table {
  background-color: lightgrey;
  border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
td {
    text-align: center;
}
td, th {
  padding: 5px;

}
th{
    background-color: darkgrey;
}
tr:hover {background-color: #f5f5f5}

</style>
  <body>
    <a href="/">Home</a><br><br>
    {% if error %}
        <h2> {{error}} </h2>
    {% endif %}
    <form action="/edit_resource_data" method="post">
      Resource Name <br>
      <input type = "text" name = "resource_name" value="{{resource[0].resource_name}}">
      <br><br>
      Start Time  (in HH:MM):<br>
      <input type = "text" name = "resource_start_time" value="{{resource[0].start_time.time()}}">
      <br><br>
      End Time (in HH:MM):<br>
      <input type = "text" name = "resource_end_time" value="{{resource[0].end_time.time()}}">
      <br><br>
      Tags<br>
      <!--<input type = "text" name = "tags" value="{{tag_string}}">   -->    
      <input type = "text" name = "tags" value="{% for tag in resource[0].tags %} {{ tag }} {% endfor %}">      
      <input type = "hidden" name = "resource_id" value = "{{ resource[0].resource_id }}">
      <br><br>
      <div><input type="submit" value = "Edit"></div>
      <br>
    </form>
  </body>
</html>
{% endautoescape %}