<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
 <style>
 body {
    background-color: #68CCF0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: navy;
    margin-left: 20px;
}

table {
  background-color: lightgrey;
  border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
td {
    text-align: center;
}
td, th {
  padding: 5px;

}
th{
    background-color: darkgrey;
}
tr:hover {background-color: #f5f5f5}

</style>
</head>
  <body>
      <a href="{{ url|safe }}">{{ url_linktext }}</a>
      <a href="/">Home</a>
      <center><h2>Your Reservations</h2></center>
      <table style="width:100%" border="1">
      <tr>
        <th>User</th>
        <th>Resource</th>
        <th>Start time</th>
        <th>Duration</th>
        <th>Cancel</th>
      </tr>
        {% for i in user_reservations %}
          {%if i.end_time > current_time %}
        <tr>
          <td><a href="/view_user?username={{i.username}}">{{ i.username }}</a></td>
          <td><a href="/view_resource?resource={{i.resource_id}}"> {% print i.resource_name %}</a>
          <td>{% print i.start_time %}</td>
          <td>{% print (i.end_time - i.start_time) %}</td>
          <td><a href="/delete_reservation?reservation_id={{i.reservation_id}}">Cancel</a></td>
        </tr>
          {% endif %}  
        {% endfor %}
      </table>  
      <br>
      <center><h2>Available Resources</h2></center>
      <table style="width:100%" border="1">
        <tr>
        <th>Resource</th>
        <th>Tags</th>
        <th>RSS</th>
      </tr>
        {% for i in total_resources %}
        <tr>
          <td><a href = "/view_resource?resource={{i.resource_id}}">{% print i.resource_name %}</a></td>
          <td>{% for tag in i.tags %}  <a href = "/tag?tag_name={{tag}}">{{ tag }}</a> {% endfor %}</td>
          <td><a href = "/create_rss?resource_id={{i.resource_id}}">RSS Feed</a></td>
        </tr>  
        {% endfor %}
      </table>
      <!-- {{resource}} --> 
      <br>
      <center><h2>Your Resources</h2></center>
      <table style="width:100%" border="1">
        <tr>
        <th>Resource</th>
        <th>Tags</th>
      </tr>
        {% for i in user_resources %}
        <tr>
          <td><a href = "/view_resource?resource={{i.resource_id}}">{% print i.resource_name %}</a></td>
          <td>{% for tag in i.tags %}  <a href = "/tag?tag_name={{tag}}">{{ tag }}</a> {% endfor %}</td>
        </tr>  
        {% endfor %}
      </table>
      <br>
      <center><a href = "/resource"><h2>Create a resource</h2></a></center>
      <br>
  </body>
</html>
{% endautoescape %}