<!DOCTYPE html>
{% autoescape true %}
<html>
 <style>
 body {
    background-color: #68CCF0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: navy;
    margin-left: 20px;
}

table {
  background-color: lightgrey;
  border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
td {
    text-align: center;
}
td, th {
  padding: 5px;

}
th{
    background-color: darkgrey;
}
tr:hover {background-color: #f5f5f5}

</style>
  <body>
  <a href="/">Home</a><br><br>
    {% if error %}
        <h2> {{error}} </h2>
    {% endif %}
    <form action="/reservation" method="post">
      Date (in mm/dd/yyyy): <br>
      <input type = "text" name = "reservation_date">
      <br><br>
      Start time (in HH:MM): <br>
      <input type = "text" name = "reservation_start_time">
      <br><br>
      Duration (in HH:MM):<br>
      <input type = "text" name = "duration">
      <input type = "hidden" name = "resource_id" value = "{{resource_id}}">
      <br><br>
      <div><input type="submit" value = "Make Reservation"></div>
      <br>
    </form>
  </body>
</html>
{% endautoescape %}