<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
 <style>
 body {
    background-color: #68CCF0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: navy;
    margin-left: 20px;
}

table {
  background-color: lightgrey;
  border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
td {
    text-align: center;
}
td, th {
  padding: 5px;

}
th{
    background-color: darkgrey;
}
tr:hover {background-color: #f5f5f5}

</style>
</head>

<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
  <body>
  	<a href="/">Home</a>
    <h2> RSS Feed for {{ resource[0].resource_name }}</h2>
    &lt;?xml version="1.0" encoding="UTF-8" ?&gt;<br>
    &lt;rss version="2.0"&gt;<br>
    &lt;Resource&gt;<br>
    <span style="margin-left:40px">&lt;Resource_Name&gt;{{ resource[0].resource_name }}&lt;/Resource_Name&gt;</span><br>
    <span style="margin-left:40px">&lt;Resource_Owner&gt;{{ resource[0].username }}&lt;/Resource_Owner&gt;</span><br>
    <span style="margin-left:40px">&lt;Resource_Tags&gt;</span><br>
    {% for tag in resource[0].tags %}
    <span style="margin-left:80px">&lt;Tag&gt;{{ tag }}&lt;/Tag&gt;</span><br>
    {% endfor %}
    <span style="margin-left:40px">&lt;/Resource_Tags&gt;</span><br>
    <span style="margin-left:40px">&lt;Reservations&gt;</span><br>
    {% for reservation in reservations %}
    <span style="margin-left:80px">&lt;Reservation&gt;</span><br>
    <span style="margin-left:120px">&lt;Name&gt;{{ reservation.username }}&lt;/Name&gt;</span><br>
    <span style="margin-left:120px">&lt;Start_Time&gt;{{ reservation.start_time }}&lt;/Name&gt;</span><br>
    <span style="margin-left:120px">&lt;Duration&gt;{{ reservation.end_time - reservation.start_time }}&lt;/Duration&gt;</span><br>
    <span style="margin-left:80px">&lt;/Reservation&gt;</span><br>
    {% endfor %}
    <span style="margin-left:40px">&lt;/Reservations&gt;</span><br>
    &lt;/Resource&gt;<br>
    &lt;/rss&gt;<br>


  </body>
</html>
{% endautoescape %}