<!DOCTYPE html>
{% autoescape true %}
<html>
 <style>
 body {
    background-color: #68CCF0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: navy;
    margin-left: 20px;
}

table {
  background-color: lightgrey;
  border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
td {
    text-align: center;
}
td, th {
  padding: 5px;

}
th{
    background-color: darkgrey;
}
tr:hover {background-color: #f5f5f5}

</style>
  <body>
    <a href="/">Home</a>
    <h2>Resources with the current tag</h2>
    <ul>
    {% for resource in tagged_resources %}  
      <li><a href = "/view_resource?resource={{resource.resource_id}}">{{ resource.resource_name }}</a></li>
    {% endfor %}
    </ul>  
  </body>
</html>
{% endautoescape %}