<!DOCTYPE html>
{% autoescape true %}
<html>
 <style>
 body {
    background-color: #68CCF0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: navy;
    margin-left: 20px;
}

table {
  background-color: lightgrey;
  border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
td {
    text-align: center;
}
td, th {
  padding: 5px;

}
th{
    background-color: darkgrey;
}
tr:hover {background-color: #f5f5f5}

</style>
  <body>
      <a href="/">Home</a>
      <center><h2>Your Reservations</h2></center>
      <table style="width:100%" border="1">
      <tr>
        <th>Resource</th>
        <th>Start time</th>
        <th>Duration</th>
        <th>Cancel</th>
      </tr>
        {% for i in user_reservations %}
          {%if i.end_time > current_time %}
        <tr>
          <td><a href="/view_resource?resource={{i.resource_id}}"> {% print i.resource_name %}</a>
          <td>{% print i.start_time %}</td>
          <td>{% print i.end_time - i.start_time %}</td>
          <td><a href="/delete_reservation?reservation_id={{i.reservation_id}}">Cancel</a></td>
        </tr>
          {% endif %}  
        {% endfor %}
      </table>  
      <br>
      <center><h2>Your Resources</h2></center>
      <table style="width:100%" border="1">
        <tr>
        <th>Resource</th>
        <th>Tags</th>
      </tr>
        {% for i in user_resources %}
        <tr>
          <td><a href = "/view_resource?resource={{i.resource_id}}">{% print i.resource_name %}</a></td>
          <td>{% for tag in i.tags %}  <a href = "/tag?tag_name={{tag}}">{{ tag }}</a> {% endfor %}</td>
        </tr>  
        {% endfor %}
      </table>
  </body>
</html>
{% endautoescape %}